<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f4f4f4;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    input,
    select {
      width: 100%;
      margin-bottom: 10;
            padding: 8px;
            border-radius: 3px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #28a745;
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #28a745;
        }

        a {
            color: #28a745;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .error-message {
            color: red;
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <form action="/login" method="post">
        <% if (message) { %>
            <div class="error-message">
                <%= message %>
            </div>
            <% } %>
                Email:<input type="email" id="email" name="email" required>
                Password:<input type="password" id="password" name="password" required>
                <input type="submit" id="login" value="Login"><br />
                If you have not account please do <a href="/signup">signup</a>
    </form>
</body>


</html>
